/* Global reset */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}
 
/* App layout */

body {

  font-family: Arial, Helvetica, sans-serif;

  background-color: #f4f4f4;

  color: #333333;

}
 
/* Header */

header {

  background-color: #1e7f43;

  color: #ffffff;

  padding: 1rem;

  text-align: center;

}
 
/* Main content */

main {

  padding: 1.5rem;

  display: grid;

  gap: 1.5rem;

}
 
/* Sections */

section {

  background-color: #ffffff;

  padding: 1rem;

  border-radius: 6px;

}
 
/* Section headings */

section h2 {

  margin-bottom: 0.5rem;

}
 
/* Lists */

ul {

  list-style-type: none;

  padding-left: 0;

}
 
li {

  padding: 0.25rem 0;

}
 
/* Footer */

footer {

  background-color: #1e7f43;

  color: #ffffff;

  text-align: center;

  padding: 0.75rem;

  margin-top: 2rem;

}

 